APP_PORT=2323
APP_MODE=development
APP_TRUSTED_PROXIES=127.0.0.1
APP_DATABASE_URL=postgres://
APP_JWT_SECRET=ULlxrbUa26kzQmq6jt5n7KlWeE8Mg6AqA7KV7vdmw14
APP_CASBIN_MODEL_PATH=internal/conf/casbin.conf
APP_CORS_ORIGINS=http://localhost:3000"
LOCAL_STORAGE_PATH=Storage

# SuperUser Seeder
SU_USERNAME=
SU_EMAIL=
SU_PASSWORD=
